@charset "  UTF-8";
*{
    font-family:Arial, Helvetica, sans-serif;
    
}

body{
    background-image:linear-gradient(to bottom,#05A688,#027368);
    background-attachment: fixed;
    height: 100%;
    
}
main{

    background-color: white;color: black;
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3e5956ac;
    padding: 10px;
    margin:auto;
    
}
p{
    text-align: justify;
}
h1{
    color:#F21D2F;
    text-align: center;
    text-shadow: 1px 1px 2px #014b44;
}
h2{
    color:#010326;
    text-shadow:#024740c1;
}