/* Color Theme Swatches in Hex */
.color-theme_istockphoto-1288600870-612x612-1-hex { color: #F21D2F; }
.color-theme_istockphoto-1288600870-612x612-2-hex { color: #010326; }
.color-theme_istockphoto-1288600870-612x612-3-hex { color: #027368; }
.color-theme_istockphoto-1288600870-612x612-4-hex { color: #05A688; }
.color-theme_istockphoto-1288600870-612x612-5-hex { color: #F2EFC2; }

/* Color Theme Swatches in RGBA */
.color-theme_istockphoto-1288600870-612x612-1-rgba { color: rgba(242, 29, 47, 1); }
.color-theme_istockphoto-1288600870-612x612-2-rgba { color: rgba(1, 3, 38, 1); }
.color-theme_istockphoto-1288600870-612x612-3-rgba { color: rgba(2, 115, 104, 1); }
.color-theme_istockphoto-1288600870-612x612-4-rgba { color: rgba(5, 166, 136, 1); }
.color-theme_istockphoto-1288600870-612x612-5-rgba { color: rgba(242, 239, 194, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_istockphoto-1288600870-612x612-1-hsla { color: hsla(354, 89, 53, 1); }
.color-theme_istockphoto-1288600870-612x612-2-hsla { color: hsla(236, 94, 7, 1); }
.color-theme_istockphoto-1288600870-612x612-3-hsla { color: hsla(174, 96, 22, 1); }
.color-theme_istockphoto-1288600870-612x612-4-hsla { color: hsla(168, 94, 33, 1); }
.color-theme_istockphoto-1288600870-612x612-5-hsla { color: hsla(56, 64, 85, 1); }